fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
httpx
beautifulsoup4
celery
redis
python-multipart
ollama
celery-sqlalchemy-scheduler
passlib[bcrypt]
python-jose[cryptography]
pytz
