fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
httpx
celery
redis
python-multipart
celery-sqlalchemy-scheduler
passlib[bcrypt]
python-jose[cryptography]
pytz
